@media (min-width: 0px) {
  @keyframes sticky-header-appear {
    0% {
      top: -100px;
    }
    1% {
      top: -100px;
    }
    100% {
      top: 0;
    }
  }
  #sticky-header {
    z-index: 200;
  }
}
